.app-logo {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.app-logo__letter {
    width: 30px;    
    height: 30px;
    background-color: #963d5a;
    border-radius: 100px;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
}