.dropdown {
    position: relative;
}

.dropdown__toggle-button {
    display: flex;
    background-color: inherit;
    border: none;
    color: #f5f5f5;    
    cursor: pointer;
}


.dropdown__menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    z-index: 20;    
    padding-left: 15px;
    padding-right: 15px;
    width: 437px; //TODO: Should be changed
    min-width: 12rem;
}

.dropdown__content {
    background-color: #5a5a5a;
    border-radius: 6px;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.dropdown__item, .dropdown__item-input {
    padding: .375rem 1rem;
    display: block;
    color: #f5f5f5;
    font-size: 1rem;
    line-height: 1.5;
}

.dropdown__item:hover {
    background-color: #959595;    
}

.dropdown__divider {
    display: block;
    margin: .5rem 0;
    height: 2px;
    background-color: grey;
    border: none;
}