.movie-cast__title {
    margin-bottom: 2rem;
}
.movie-cast__item {
    flex: none;
}

.movie-cast__list {
    flex-wrap: unset;
}

.actor-card__character {
    font-size: 12px;
    font-weight: 500;    
    color: #8f8f8f;
}