.movie-info-line {
    display: flex;
    align-items: center;
    padding: .4rem 0;
    border-bottom: 1px solid rgba(90,90,90,.18);
    color: #f5f5f5;
    font-weight: 600;
}

.movie-info-line__category {
    flex: none;
    font-size: 17px;
    font-weight: 500;
    width: 180px;
}

.movie-info-line__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.movie-info-line__tag {
    margin-top: 0.4rem;
    background-color: #963d5a;
    color: #fff;
    white-space: nowrap;
}