.movie-cast__title {
    margin-bottom: 2rem;
}
.movie-cast__item {
    flex: none;
}

.movie-cast__list {
    flex-wrap: unset;
    overflow: auto;
}

.movie-cast__list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #555;
}

.movie-cast__list::-webkit-scrollbar {
	width: 12px;
	background-color: #555;
}

.movie-cast__list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #963d5a;
}


.actor-card__character {
    font-size: 12px;
    font-weight: 500;    
    color: #8f8f8f;
}