.movie {
    background-color: #2d2d2d;
    padding: 3rem 1.5rem;
}

.movie__title {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.125;
    color: #f5f5f5;
}

.movie__subtitle {
    margin-bottom: .75rem;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: #f5f5f5;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.movie__tagline {
    color: #b1b0b0;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.movie__poster {
    border-radius: 7px;    
}

.movie__overview {
    line-height: 1.4;
    color: #f5f5f5
}
