.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.mb-3rem {
  margin-bottom: 3rem;
}

.is-hidden-touch {
  +breakpoint(touch) {
    display: none !important;
  }  
}

.is-hidden-desktop {
  +breakpoint(desktop) {
    display: none !important;
  }  
}

.is-hidden-tablet {
  +breakpoint(tablet) {
    display: none !important;
  }  
}