.base-input {
    padding: .5em .8em;
    border: 0;
    background-color: grey;
    border-radius: 8px;
    color: #f5f5f5;
    line-height: 1.25;
    font-size: 1rem;
    width: 100%;
    outline: none;
}

.base-input::placeholder {
    color: #b7b7b7;
    line-height: 1.25;
}