.tag {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.4rem;
    margin-right: 0.4rem;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8rem;
    font-weight: bold;
    height: 1.8em;
    border-radius: 100px;
}